body {
  margin: 0;
  background: var(--clr-dark);
  color: var(--clr-light);
  font-family: Roboto, sans-serif;
}

main {
  display: flex;
  width: 100%;
  height: calc(100vh - 49.5px);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

header {
  background: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  flex-grow: 1;
}

textarea {
  background: var(--clr-dark);
  color: var(--clr-grey-400);
  outline: none;
  border: none;
  margin: 1rem;
  resize: none;
}
