body {
  margin: 0;
  background: var(--background);
  color: var(--clr-light);
  font-family: Roboto, sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

header {
  background: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  flex-grow: 1;
}

.form {
  background: var(--background);
}
