[data-theme="light"] {
  color-scheme: light;
  --background: var(--clr-light);
  --color: var(--clr-dark);
  --header-bg: var(--clr-grey-800);
  --editor-bg: var(--clr-light);
  --editor-clr: var(--clr-grey-700);
  --preview-bg: var(--clr-light);
  --preview-title-bg: var(--clr-grey-200);
  --preview-title-clr: var(--clr-grey-600);
  --preview-h1: var(--clr-grey-700);
  --preview-h2: var(--clr-dark);
  --preview-h3: var(--clr-grey-700);
  --preview-h4: var(--clr-grey-700);
  --preview-h5: var(--clr-grey-700);
  --preview-h6: var(--clr-accent);
  --preview-p: var(--clr-grey-600);
  --preview-li: var(--clr-grey-600);
  --preview-a: var(--clr-dark);
  --preview-point-clr: var(--clr-point-dark);
  --preview-blockquote-bg: var(--clr-grey-200);
  --preview-blockquote-clr: var(--clr-grey-700);
  --preview-pre-bg: var(--clr-grey-200);
  --preview-code-clr: var(--clr-grey-700);
  --modal-backdrop: var(--clr-modal-backdrop-when-light);
  --modal-bg: var(--clr-light);
  --modal-clr: var(--clr-grey-500);
  --modal-title-clr: var(--clr-grey-700);
  --modal-close-btn-bg-hover: var(--clr-modal-close-btn-bg-light);
}
