.hamburger {
  border: none;
  background: transparent;
  width: 56px;
  height: 56px;
  margin: 0 1rem 0 0;

  @media (min-width: 768px) {
    height: 72px;
    width: 72px;
  }
}

.hamburger:hover {
  cursor: pointer;
  background: var(--clr-accent);
}

.header__title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 0 29px 0 0;
}

.vertical-seperator {
  width: 1px;
  height: 40px;
  background: var(--clr-grey-600);
}

.icon-document {
  padding: 0 1rem;
}

.header__sub-title {
  font-size: 13px;
  font-weight: 300;
  color: var(--clr-grey-300);
}

.header__input-label {
  font-size: 14px;
  color: var(--clr-grey-400);
}

.header__input {
  border: none;
  padding: 0;
  font-size: 15px;
  caret-color: var(--clr-accent);
  // outline: none;
  background: transparent;
  width: 150px;
}

.header__doc-title {
  font-size: 15px;
}

.header__delete-btn {
  padding: 0 1.5rem;
  background: transparent;
  border: none;
}

.header__delete-btn:hover {
  cursor: pointer;
}

.header__delete-btn:hover .trashcan {
  fill: var(--clr-accent);
}

.header__button-save {
  background: var(--clr-accent);
  color: inherit;
  border-radius: 4px;
  border-style: none;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-right: 1rem;

  @media (min-width: 768px) {
    width: auto;
    padding: 0 1.07rem;
  }
}

.header__button-save:hover {
  cursor: pointer;
  background: var(--clr-hover);
}
