:root {
  --clr-light: #fff;
  --clr-grey-200: #f5f5f5;
  --clr-grey-300: #e4e4e4;
  --clr-grey-400: #c1c4cb;
  --clr-grey-500: #7c8187;
  --clr-grey-600: #5a6069;
  --clr-grey-700: #35393f;
  --clr-grey-800: #2b2d31;
  --clr-grey-900: #1d1f22;
  --clr-dark: #151619;
  --clr-accent: #e46643;
  --clr-hover: #f39765;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-dark);
    --color: var(--clr-light);
    --header-bg: var(--clr-grey-800);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--clr-light);
    --color: var(--clr-dark);
    --header-bg: ;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

body {
  background: var(--clr-dark);
  color: var(--clr-light);
}

header {
  background: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
}
