:root {
  --clr-light: #fff;
  --clr-grey-200: #f5f5f5;
  --clr-grey-300: #e4e4e4;
  --clr-grey-400: #c1c4cb;
  --clr-grey-500: #7c8187;
  --clr-grey-600: #5a6069;
  --clr-grey-700: #35393f;
  --clr-grey-800: #2b2d31;
  --clr-grey-900: #1d1f22;
  --clr-dark: #151619;
  --clr-accent: #e46643;
  --clr-hover: #f39765;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background: var(--clr-dark);
    --color: var(--clr-light);
    --header-bg: var(--clr-grey-800);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--clr-light);
    --color: var(--clr-dark);
    --header-bg: ;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background: var(--clr-dark);
  color: var(--clr-light);
  font-family: Roboto, sans-serif;
}

main {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

header {
  background: var(--header-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea {
  height: 100vh;
  background: var(--clr-dark);
  color: var(--clr-grey-400);
  outline: none;
  border: none;
  margin: 1rem;
  resize: none;
}

.app-container {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
  align-items: flex-start;
}

.hamburger {
  padding: 14px 0;
  margin: 0 16px 0 0;
  border: none;
  background: transparent;
}

.hamburger:hover {
  cursor: pointer;
  background: var(--clr-accent);
}

.editor-container {
  display: flex;
}

.header__title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 0 29px 0 0;
}

.vertical-seperator {
  width: 1px;
  height: 40px;
  background: var(--clr-grey-600);
}

.icon-document {
  padding: 0 21px 0 21px;
}

.header__sub-title {
  font-size: 13px;
  font-weight: 300;
  color: var(--clr-grey-300);
}

.header__input-label {
  font-size: 14px;
  color: var(--clr-grey-400);
}

.header__input {
  border: none;
  font-size: 15px;
  caret-color: var(--clr-accent);
  outline: none;
  background: transparent;
}

.header__doc-title {
  font-size: 15px;
}

.header__button-save {
  background: var(--clr-accent);
  color: inherit;
  border-radius: 4px;
  border-style: none;
  padding: 10px 17px;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-right: 1rem;
}

.header__button-save:hover {
  cursor: pointer;
  background: var(--clr-hover);
}

.header__delete-btn {
  padding: 0;
  background: transparent;
  border: none;
  margin: 0 1rem;
}

.header__delete-btn:hover {
  cursor: pointer;
}

.split {
  width: 1px;
  background: var(--clr-grey-600);
}

.preview-container {
  width: 100%;
}

.preview {
  padding: 0 1rem;
}

.editor__title,
.preview__title {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}

.editor__title-container,
.preview__title-container {
  background: var(--clr-grey-900);
  padding: 10px 1rem;
}

.preview__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-container {
  padding: 0 20px;
  min-width: 250px;
  background: var(--clr-grey-900);
}

.hide-sidebar {
  position: absolute;
  transform: translateX(-249px);
}

.sidebar__title {
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--clr-grey-500);
  padding: 24px 0;
}

.sidebar__button {
  font-family: inherit;
  font-size: 15px;
  padding: 10px 44px;
  background: var(--clr-accent);
  border: none;
  border-radius: 4px;
}

.sidebar__button:hover {
  cursor: pointer;
  background: var(--clr-hover);
}

.sidebar__ul {
  padding: 0;
}

.sidebar__li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 148px;
  padding: 12px 0;
}

.sidebar__li:hover {
  cursor: pointer;
}

.sidebar__note-date {
  font-size: 13px;
  font-weight: 300;
  color: var(--clr-grey-500);
  display: block;
}

.sidebar__note-title {
  font-size: 15px;
}
