// Variables
:root {
  --clr-light: #fff;
  --clr-200: #f5f5f5;
  --clr-300: #e4e4e4;
  --clr-400: #c1c4cb;
  --clr-500: #7c8187;
  --clr-600: #5a6069;
  --clr-700: #35393f;
  --clr-800: #2b2d31;
  --clr-900: #1d1f22;
  --clr-dark: #151619;
  --clr-accent: #e46643;
  --clr-hover: #f39765;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-dark);
    --text: var(--clr-light);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--clr-light);
    --text: var(--clr-dark);
  }
}

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}
img {
  // for responsive images
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
